body{
    text-align: center;
}
div{
    height:150px;
    width:500px;
    border:1px solid black;
    margin:15px auto;
}
button{
    padding:15px 50px;
    border:0;
    background-color: #156ee2;
    color: #fff;
    font-weight:600;
    letter-spacing: 1.5px;
    cursor: pointer;
}